/* Coolors Exported Palette - coolors.co/ef476f-087f8c-ffd166-06d6a0-fcfcfc */

$color-red: rgba(239, 71, 111, 1);
$color-blue: rgba(8, 127, 140, 1);
$color-yellow: rgba(255, 209, 102, 1);
$color-green: rgba(6, 214, 160, 1);
$color-white: rgba(252, 252, 252, 1);
$color-black: rgb(28, 28, 28);
