@import "../../assets/framework/settings/settings";
@import "../../assets/framework/tools/tools";
@include media(xs-width) {
  .media {
    flex-wrap: wrap;
    .media-left {
      flex-shrink: 1;
      margin-right: 0;
    }
  }
}
