///=====================================================================================================================
///
///
///                                             DEFAULTS
///
///
///=====================================================================================================================

$base-font-family:            "Open Sans", sans-serif !default;
$base-font-size:              13 * 1px        !default;
$base-font-weight:            normal          !default;
$base-text-color:             $black-1        !default;
$base-background-color:       $grey-200       !default;
$base-round:                  2px             !default;



// Colors and sizes
// Feel free to override and set new values for your project.

// Main colors
$red:                   $red-800            !default;
$pink:                  $pink-500           !default;
$purple:                $purple-500         !default;
$deep-purple:           $deep-purple-500    !default;
$indigo:                $indigo-500         !default;
$blue:                  $blue-500           !default;
$light-blue:            $light-blue-500     !default;
$cyan:                  $cyan-500           !default;
$teal:                  $teal-500           !default;
$green:                 $green-500          !default;
$light-green:           $light-green-500    !default;
$lime:                  $lime-500           !default;
$yellow:                $yellow-800         !default;
$amber:                 $amber-500          !default;
$orange:                $orange-800         !default;
$deep-orange:           $deep-orange-500    !default;
$brown:                 $brown-500          !default;
$grey:                  $grey-500           !default;
$blue-grey:             $blue-grey-500      !default;


$primary-color-1:       $indigo     !default;
$primary-color-2:       $indigo-100 !default;
$primary-color-3:       $indigo-700 !default;
$accent-color-1:        $pink-A200  !default;
$accent-color-2:        $pink-A100  !default;
$accent-color-3:        $pink-A400  !default;

// Sizes
$size-m:                36px !default;
$size-xs:               24px !default;
$size-s:                30px !default;
$size-l:                40px !default;
$size-xl:               56px !default;


$base-spacing-unit:     8px;

// == Anchos base media queries
$xs-width: 480 * 1px;
$sm-width: 768 * 1px;
$md-width: 992 * 1px;
$lg-width: 1200 * 1px;


/* Coolors Exported Palette - coolors.co/ef476f-087f8c-ffd166-06d6a0-fcfcfc */

$color-red: rgba(239, 71, 111, 1);
$color-blue: rgba(8, 127, 140, 1);
$color-yellow: rgba(255, 209, 102, 1);
$color-green: rgba(6, 214, 160, 1);
$color-white: rgba(252, 252, 252, 1);
$color-black: rgb(28, 28, 28);
