@import '../../assets/framework/layout/main';
@import '~bulma/sass/utilities/mixins';

.show-list {
  padding: 2rem;
  ul {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(5, auto);
    @include mobile() {
      grid-template-columns: repeat(2, auto);
    }
  }
  figure {
    background-color: $color-white;

    img {
      width: 100%;
    }
    figcaption {
      color: $color-blue;
      font-size: .9rem;
      padding: .6rem;
      text-align: center;
    }
  }
  .no-results {
    color: $color-black;
    text-align: center;
  }
  .fade-enter-active, .fade-leave-active {
    transition: opacity .8s
  }
  .fade-enter, .fade-leave-to {
    opacity: 0
  }
}
