@import '../../assets/framework/colors/colors';

.history {
  margin-top: 3vh;
  color: $color-black;
  .empty-notes {
    font-size: 5rem;
  }

  .no-results {
    font-size: .9rem;
  }

  [contenteditable="true"] {
    outline: 1px solid #00d1b2;
    height: 30px;
    cursor: pointer;
    &:hover {
      outline: 1px dashed #00d1b2;
    }
  }

}
